<div class="container">
    <div id="footer-inner">
        <div id="footer-logo">
            <img src="/img/logo.png" alt="FIP logo">
        </div>
        <div id="footer-nav">
            <div>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app.history()">Historia</a></li>
                    <li><a ui-sref="app.hmo()">Hermosillo</a></li>
                    <li><a ui-sref="app.artists()">Artistas</a></li>
                    <li><a ui-sref="app.map()">Mapa</a></li>
                    <li><a ui-sref="app.gallery()">Multimedia</a></li>
                    <li><a ui-sref="app.press()">Prensa</a></li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav" id="footer-nav-secondary">
                    <li><a class="logo" href="http://www.sonora.gob.mx/" target="_blank"><img src="img/logo-sonora.png" /></a></li>
                    <li><a class="logo" href="http://www.imcahermosillo.com.mx/" target="_blank"><img src="img/logo-imca-small.png" /></a></li>
                    <li><a class="logo" href="http://www.hermosillo.gob.mx/" target="_blank"><img src="img/logo-hmo.png" /></a></li>
                    <li id="footer-nav-contact"><a href="http://www.imcahermosillo.com.mx/contacto/" target="_blank"><i class="ion ion-ios-email-outline"></i> Contáctanos</a></li>
                    <li class="simple"><a href="https://twitter.com/FestivalPitic" target="_blank"><i class="ion ion-social-twitter"></i></a></li>
                    <li class="simple"><a href="https://www.facebook.com/FestivaldelPitic" target="_blank"><i class="ion ion-social-facebook"></i></a></li>
                    <li class="simple"><a href="https://www.instagram.com/festivaldelpitic/" target="_blank"><i class="ion ion-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
