<div id="main-content" ng-if="!spinnerActive">
    <h1 class="h4 uppercase underline">Historia</h1>
    <div class="preview-img" id="history-preview">
        <h2 class="uppercase title">Historia</h2>
    </div>
    <div class="content">
        <p>El <strong>Festival Internacional del Pitic</strong> (FIP) es realizado por el H. Ayuntamiento de Hermosillo a través del Instituto Municipal de Cultura y Arte con el objetivo de enriquecer el quehacer artístico y cultural de la ciudad con presentaciones de artistas de relevancia nacional e internacional en medio del desierto sonorense.</p>
        <p>Esta celebración nace en el 2003 bajo el nombre de Fiestas del Pitic para conmemorar que el 18 de mayo de 1700 se fundó el primer asentamiento humano en el actual territorio de la ciudad de Hermosillo.</p>
        <p>En su catorceava edición, las conocidas como Fiestas del Pitic hacen una transición y cambian su nombre a <strong>Festival Internacional del Pitic</strong> con el objetivo de posicionarse como la fiesta cultural más grande del noroeste de México y sumarse a la red de festivales del País, impulsando el turismo y la economía local.</p>
        <p>El programa contempla música, danza, teatro, ópera, artes visuales, literatura, cine, circo, actividades académicas, gastronomía y la presencia de los pueblos indígenas con sus expresiones culturales, artesanía, comida y medicina tradicional.</p>
        <p>Por sus escenarios han pasado artistas como Omara Portuondo, Pablo Milanés, Kika Edgar, Eugenia León, Francisco Céspedes, Tania Libertad, Armando Manzanero, Susana Zabaleta, Ballet Folclórico de Amalia Hernández, Enrique Patrón de Rueda, Guillermo Arriaga, Pilar Rioja, Filippa Gioardano, Jaime Chabaud, Willie Colón, Susana Alexander, Fernando de la Mora, Elsa Cross, Margarita “La Diosa de la Cumbia”, Lila Downs, Raúl Di Blasio, Rocío Banquells y el Mariachi Juvenil América, Diego “El Cigala”, Fernando Lima, Magbana Drum & Dance, Chamín Correa, Celso Piña, Calle 13, Regina Orozco, Carlos Vives, Emma Shaplin, Sak TZEVUL, Olga Tañón, Charanga Habanera, Yemen Blues, Fito Páez, Aleks Syntek,  José Mercé, Panteón Rococó, Totó la Momposina y Los Van Van, entre muchos otros.</p>
        <a href="/Programa-General.pdf" target="_blank" title="Link a program del FIP">Conoce el programa del FIP 2016</a>

    </div>
</div>
