<div id="heading-top" ng-show="!spinnerActive">
    <div class="container no-padding" id="slider">
        <div>
            <img src='/img/slider/sponsors.gif' alt="Nuestros Patrocinadores" />
        </div>
        <div>
            <img src='/img/slider/carreras.png' alt="José Carreras - Plaza Alonso Vidal" />
        </div>
        <div>
            <img src='/img/slider/auditorio-civico.jpg' alt="Muesra Nacional de Teatro - De Peninsula a Peninsula" />
        </div>
        <div>
            <img src='/img/slider/emiliana-de-zubeldia.jpg' alt="Teatro Emiliana de Zubeldia - Danza y Teatro" />
        </div>
        <div>
            <img src='/img/slider/ewnf.jpg' alt="The Earth Wind &amp; Fire Experience ft. The All McKay Allstars - Foro Principal" />
        </div>
        <div>
            <img src='/img/slider/paquitoymoura.jpg' alt="Paquito D'Rivera - Ana Moura - Plaza Alonso Vidal" />
        </div>
        <div>
            <img src='/img/slider/parque-madero.jpg' alt="Programa Infantil - Parque Francisco I. Madero" />
        </div>
        <div>
            <img src='/img/slider/parque-madero-2.jpg' alt="Programa Juvenil - Parque Francisco I. Madero" />
        </div>
        <div>
            <img src='/img/slider/sonorasantanera.jpg' alt="La Única Internacional Sonora Santanera - Foro Principal" />
        </div>
    </div>
</div>
